.team-area {
	margin-top: -244px;
	position: relative;
    background-color: #F9F9F9;

    .team-content {
        h2 {
            font-size: 30px;
            line-height: 42px;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color: #555555;
        }
    }
    .team-image {
        position: relative;
        z-index: 1;
        .play-button {
            a {
                position: absolute;
                top: 45%;
                left: 51%;
                transform: translate(-50%, -50%);
                width: 60px;
                height: 60px;
                background-color: #fff;
                border-radius: 50%;
                text-align: center;
                line-height: 60px;
                color: #444;
                font-size: 20px;
                padding-left: 4px;

                &::before, &::after{
                    position: absolute;
                    content: "";
                    border: 2px solid $light;
                    border-radius: 50%;
                    top: -20px;
                    left: -20px;
                    right: -20px;
                    bottom: -20px;
                    animation: animate 1.5s linear infinite;
                    opacity: 0;
                    
                }
                &::after{
                    animation-delay: .5s;
                }
                @keyframes animate {
                    0%{
                     transform: scale(.5);
                    }
                    50%{
                     opacity: 1;
                    }
                    100%{
                     transform: scale(1.5);
                    }
                }
            }
       
        }
    }
    .team-vector {
        img {
            position: absolute;
            width: 350px;
            height: 340px;
            top: 210px;
            left: 0;
            z-index: 2;
        }
    }

    .team-member {
        position: relative;
        .single-member {
            position: relative;
            display: inline-block;
            overflow: hidden;
            margin: 0 8px;

            &:hover > .single-member-content {
                opacity: 1;
                visibility: visible;
            }
            .single-member-content {
                position: absolute;
                content: "";
                z-index: 99;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                visibility: hidden;
                opacity: 0;
                @include transition(0.3s);

                .member-link {
                    width: 250px;
                    height: 100%;
                    a {
                        width: 34px;
                        height: 34px;
                        border: 1px solid #fff;
                        display: inline-block;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 34px;
                        color: #fff;
                        margin: 0 12px;
                        margin-bottom: 20px;
                        @include transition(0.3s);
                        font-size: 18px;

                        &:hover {
                            border-color: transparent;
                            background-color: $heading-color;
                        }
                    }
                }
                a {
                    display: block;
                    font-size: 20px;
                    line-height: 34px;
                    color: #fff;
                    font-weight: 500;
                    margin: 0;
                    padding: 0;
                    @include transition(0.3s);

                    span {
                        display: block;
                        font-size: 14px;
                        font-weight: 400;
                        color: #fff;
                        line-height: 1;
                    }
                }
                .man-overlay {
                    position: absolute;
                    top: -61px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }

        }
    }
}
.team-button {
    margin-top: 10px;
}
.member-button {
    margin-top: 60px;
}



// Responsive 

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    
    .team-area {
        .team-member {
            .single-member {
                width: 260px;
                margin: 0px 6px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .team-area {
        margin-top: -70px;

        .team-vector {
            img {
                top: 0;
            }
        }
        .team-member {
            padding-top: 100px;
        }
    }
}
 
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .team-area {
        margin-top: -70px;
        text-align: center;
        .team-vector {
            img {
                top: 0;
            }
        }
        .team-member {
            padding-top: 100px;
        }
    }
}
 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .team-area {
        margin-top: -170px;
        text-align: center;
        .team-vector {
            img {
                top: 0;
            }
        }
        .team-member {
            padding-top: 40px;

            .single-member {
                margin-bottom: 20px;
            }
        }
        
    }
    .member-button {
        margin-top: 10px;
    }
}
 
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .team-area {
        margin-top: -70px;
        text-align: center;
        .team-vector {
            img {
                top: 0;
            }
        }
        .team-member {
            padding-top: 100px;
        }
    }
}
  
 